.pricing-wrapper-inner h2 small {
    color: #C51D1D;
    font-size: 14px;
}

.ken-burns-cap {
    font-weight: 700;
    font-size: 18px;
    background: rgba(0, 84, 148, 0.5);
    padding: 20px;
}

.color-green {
    color: #9eca45;
}

/*.crop {*/
    /*max-width: 360px;*/
    /*height: 276px;*/
    /*overflow: hidden;*/
/*}*/

/*.crop img {*/
    /*max-width: 360px;*/
    /*height: 276px;*/
    /*margin: 0 0 0 0;*/
/*}*/

.container .row h4 {
    color: #9eca45;
}

.img-responsive-height
{
    display: block;
    width: auto;
    max-height: 100%
}
